@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300&family=Urbanist:wght@400;500;600&display=swap");

:root {
    --header-height: 3rem;
    --hue-color: 35;

    --first-color: hsl(var(--hue-color), 97%, 63%);
    --first-color-second: hsl(var(--hue-color), 97%, 63%);
    --first-color-alt: hsl(var(--hue-color), 89%, 57%);
    --first-color-lighter: hsl(var(--hue-color), 97%, 80%);
    --title-color: hsl(var(--hue-color), 9%, 30%);
    --text-color: hsl(var(--hue-color), 9%, 40%);
    --text-color-light: hsl(var(--hue-color), 9%, 50%);
    --input-color: hsl(var(--hue-color), 97%, 90%);
    --body-color: hsl(var(--hue-color), 100%, 100%);
    --container-color: #fff;
    --second-color: hsl(276, 51%, 47%);
    --third-color: hsl(0, 98%, 55%);

    --body-font: "Urbanist", Arial, Helvetica, sans-serif;

    --big-font-size: 2em;
    --h1-font-size: 1.6em;    --h1b-font-size: 2.6em;
    --h2-font-size: 1.3em;
    --h2b-font-size: 2.3em;
    --h3-font-size: 1em;
    --normal-font-size: 0.938em;
    --normalbig-font-size: 2em;
    --small-font-size: 0.813em;
    --smaller-font-size: 0.75em;

    /*weight*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*margin*/
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*Z-index*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3em;
        --h1-font-size: 2.25em;
        --h1-font-size: 1.5em;
        --h1-font-size: 1.25em;
        --normal-font-size: 1em;
        --small-font-size: 0.875em;
        --smaller-font-size: 0.813em;
    }
}

/*base*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg{
    position:absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.bubbles span{
    position:relative;
    min-width: 3vw;
    height: 3vw;
    background-color: hsl(47, 100%, 53%);
    border-radius: 50%;
    box-shadow: 0 0 0 10px hsla(47, 100%, 53%, 0.266),
    0 0 50px hsl(47, 100%, 53%),
    0 0 100px hsl(47, 100%, 53%);
    margin: 0 4px;
    animation: animate 15s linear infinite;
    animation-duration: calc(75s / var(--i));
}

.bubbles span:nth-child(even){
    position:relative;
    min-width: 3vw;
    height: 3vw;
    background-color: hsl(283, 84%, 44%);
    border-radius: 50%;
    box-shadow: 0 0 0 10px hsla(283, 84%, 44%, 0.302),
    0 0 50px hsl(283, 84%, 44%),
    0 0 100px hsl(283, 84%, 44%);
    margin: 0 4px;
    animation: animate 15s linear infinite;
    animation-duration: calc(75s / var(--i));
}

@keyframes animate
{0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }

} */

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/********************/
.section {
    padding: 2rem 0 4rem;
}

.section_title {
    font-size: var(--h1-font-size);
}

.section_subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section_title,
.section_subtitle {
    text-align: center;
}

/*layout*/

.container {
    max-width: 100rem;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.grid1 {
    display: grid;
    grid-template-columns: max-content;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

.nav {
    max-width: 60.5rem;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo,
.nav_toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav_logo:hover {
    color: var(--first-color);
}

.nav_toggle {
    font-size: 1.1em;
    cursor: pointer;
}

.nav_toggle:hover {
    color: var(--first-color);
}

@media screen and (max-width: 767px) {
    .nav_menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;

        transition: 0.3s;
    }
}

.nav_list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.list_1 {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.list_2 {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav_link:hover {
    color: var(--first-color);
}

.nav_icon {
    font-size: 1.25rem;
}

.nav_close {
    position: absolute;
    right: 1.25rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.nav_close:hover {
    color: var(--first-color-alt);
}

.show-menu {
    bottom: 0;
}
.home_title{
    font-size: var(--h1-font-size);
}


/**********home**********/


.home_content {
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}

.home_social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
    position: relative;
}

/* .home_img {
    width: 20rem;
    justify-self: center;
    align-self: center;
    transition: all 1s ease-in-out;
    margin-bottom: 5rem;
    position:absolute;
} */

/* .home_img:hover{
        width: 30rem;
        animation: girar 2s linear infinite;
} */

.icon {
    font-size: 1.25rem;
    color: var(--first-color);
}

.icon_1 {
    font-size: 1.5rem;
    margin-right: var(--mb-0-25);

}

.icon:hover {
    color: var(--first-color-alt)
}

.home_blob {
    width: 12.5rem;
}

.home_img {
    width: 100rem;
}

.home_container {
    grid-template-columns: repeat(1fr 1fr);
}

.home_data {
    grid-column: 1/3;
}

.home_title {
    font-size: var(--h2-font-size);
}

.home_subtitle {
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

/* .home_scroll{
    /*display: none
} */

.home_scroll-button {
    color: var(--first-color);
    transition: .3s;
}

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button_icon {
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.button--flex {
    display:inline-flex;
    align-items: center;
    position: relative;
}


/************ABOUT*************/
.about-img {
    width: 12.5rem;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
}

.about_content{
    width: 12rem;
}
/* 
@keyframes girar {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
} */


.about_description {
    width: fit-content;
}

.about_info {
    display: flex
}

.about_info-name {
    font-size: var(--smaller-font-size);
}

.about_info-title,
.about_info-name {
    display: block;
    text-align: center;
}

.about_buttons {
    justify-content: center;
}

/*******skills***********/
.skills_container {
    row-gap: 0;
}

.skills_header {
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-2-5);
}

.skills_arrow {
    font-size: 1.5rem;
    color: var(--first-color);
    margin-left: auto;
    transition: .4s;
}

.skills_title {
    font-size: var(--h3-font-size);
    justify-content: space-between;
}

.skills_list {
    margin-top: 3rem;
    height: max-content;
    margin-bottom: var(--mb-2-5);
}

/*************projects***************/
/* @keyframes scrollProjects{
    0%, 100%{
        transform: translateX(0);
    }

    33%, 66%{
        transform: translateX(-100%);
    }

    66%, 99%{
        transform: translateX(-200€)
    }
} */

.projects_container:hover {
    animation-play-state: paused;
}

/* .swiper-wrapper{
    display: flex;
    justify-content: center;
    overflow: hidden;
    animation: scrollProjects 10s linear infinite;
} */
/* .swiper-wrapper{
    overflow: hidden;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    transition:all .9s ease-in;} */


.projects_content {

    padding: .25rem;
}

.projects_img {
    margin-top: var(--mb-2);
    box-shadow: 5px 5px 10px var(--first-color);
    overflow: hidden;
    height: 10 25rem;
    width: 20rem;
    justify-self: center;
}

.projects_img:hover {
    transform: scale(1.2);
}

.project_button {
    display: flex;
    align-self: center;
    justify-self: center;
}



/*******contact********/
.contact_container {
    row-gap: 3rem;
}

.contact_information {
    display: flex;
    margin-bottom: var(--mb-2);
}

.contact_title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.contact_content {
    background-color: var(--input-color);
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
}

.contact_label {
    font-size: var(--smaller-font-size);
    color: var(--title-color);
}

.contact_input {
    width: 100%;
    border: none;
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

/********footer*********/

.footer {
    padding-top: 2rem;
}

.footer_container {
    row-gap: 3.5rem;
}

.footer_bg {
    background-color: var(--first-color-second);
    padding: 2rem 0 3rem;
}

.footer_title {
    font-size: var(--h1-font-sizeh2);
    margin-bottom: var(--mb-0-25);
}

.footer_subtitle {
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}

.footer_links {
    display: flex;
    flex-flow: column;
    row-gap: 1rem;
}

.footer_links:hover {
    color: var(--first-color-lighter);
}


@media screen and (max-width: 550px) {
    .home_data {
        display: flex;
        flex-flow: column;
    }

    

    .home_img {
        width: 14rem;
        justify-self: center;
        align-self: center;
        /* transition: all 1s ease-in-out; */
        margin-bottom: 5rem;
    }

    .container {
        margin-left: var(--mb-3);
        margin-right: var(--mb-3);
    }

    .nav_menu {
        padding: 2rem .25rem 4rem;
    }

    .nav_list {
        column-gap: 0;
    }

    .about_content {
        width: 20rem;
    }

    .list_1 {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .skills_title {
        font-size: var(--normal-font-size);
    }

    .project_img {
        width: 12.5rem;
    }
}

@media screen and (min-width:568px) {


    .about_data {
        flex-wrap: wrap;
        width: fit-content;

    }


    .about-img,
    .about_description {
        grid-template-columns: repeat(1fr, 1fr);
    }


    
    .home_img {
        width: 15rem;
        justify-self: center;
        align-self: center;
        transition: all 1s ease-in-out;
        margin-bottom: 5rem;
    }
    

    .home_content{
        grid-template-columns: min-content  1fr;
    }

    .icon {
        font-size: 2rem;}

    .skills_container,
    .projects_content,
    .contact_container,
    .footer_container {
        grid-template-columns: repeat(1, 1fr);
    }

    .projects_img {
        width: 30rem;
    }

}

@media screen and (min-width:768px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    body {
        margin: 0;
    }

    .section {
        padding: 4rem 0 2rem;
    }

    .section_title {
        margin-bottom: 4rem;
    }

    .header {
        top: 0;
        bottom: initial;
    }

    .home_content {

        grid-template-columns: max-content  1fr;
    }

    .home_data {

        grid-column: initial;
    }

    .home_img {
            width: 30rem;
            justify-self: center;
            align-self: center;
            transition: all 1s ease-in-out;
            margin-bottom: 5rem;  
    }

    .home_social{
        width: 2rem;
        height: 2rem;
    }

    .icon {
        font-size: 3rem;}

    .home_title, .skills_title, .contact_title, .section_title, .about_info-title{
    font-size: 2vw;
    }
    

    .header,
    .main,
    .footer_container {
        padding: 0 1rem;
    }

    .nav {
        column-gap: 1.5rem;
    }

    .nav_icon,
    .nav_close,
    .nav_toggle {
        display: none;
    }

    .nav_logo{
        display:flex;
        flex-flow: row;
        width: max-content;
        font-size: var(--h3-font-size);
    }

    .nav_list {
        display: flex;
        
        column-gap: 4rem;
        height: 4rem;
        font-size: var(--h3-font-size);
    }

    .nav_menu {
        margin-left: auto;
    }

    .home_container {
        width: 9vw;
    }

    .home_content {
        padding-top: 5.5rem;
        column-gap: 2rem;
    }

    .home_blob {
        width: 30rem;
    }

    .about_content {
        font-size: 2vw;
        width: 30rem;
    }

    .about_container {

        column-gap: 5rem;
    }

    .about-img {
        width: 21.875rem;
    }

    .about_description {
        text-align: initial;
    }

    .about_info {
        justify-content: space-between;
    }

    .about_buttons {
        justify-content: initial;
    }

    .projects_img {
        width: 40rem;
    }

    .projects_content {
        align-items: center;
    }

    .projects_img {
        width: 40rem;
    }

    .footer_container {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer_bg {
        padding: 3rem 0 3.5rem;
    }

    .footer_links {
        flex-direction: row;
        column-gap: 2rem;
        font-size: 1.5vw;
    }
}

@media screen and (min-width:1300px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    body {
        margin: 0;
    }

    .section {
        padding: 4rem 0 2rem;
    }

    .section_title {
        margin-bottom: 4rem;
    }

    .header {
        top: 0;
        bottom: initial;
    }

    .home_content {

        grid-template-columns: max-content 1fr;
    }

    .home_data {

        grid-column: initial;
    }

    .home_img {
            width: 40rem;
            justify-self: center;
            align-self: center;
            transition: all 1s ease-in-out;
            margin-bottom: 5rem;  
    }

    .home_social{
        width: 2rem;
        height: 2rem;
    }

    .icon {
        font-size: 3rem;}

    .home_title, .skills_title, .contact_title, .section_title, .about_info-title{
    font-size: 2.5vw;
    }
    

    .header,
    .main,
    .footer_container {
        padding: 0 1rem;
    }

    .nav {
        display: flex;
        height: 4rem;
        width: max-content;
        column-gap: 1.5rem;
    }

    .nav_icon,
    .nav_close,
    .nav_toggle {
        display: none;
    }

    .nav_logo{
        display:flex;
        flex-flow: row;
        width: max-content;
        font-size: var(--h1-font-size)
    }

    .nav_list {
        display: flex;
        width: max-content;
        column-gap: 4rem;
        font-size: var(--h1-font-size);
    }

    .nav_menu {
        margin: 0;
        display: flex;
      
        align-items: center;
    }
    .nav-container{
        width: 1000vw;
    }

    .home_container {
        width: 9vw;
    }

    .home_content {
        padding-top: 5.5rem;
        column-gap: 2rem;
    }

    .home_blob {
        width: 30rem;
    }

    .about_content {
        font-size: 1.3vw;        
        width: 80rem;
    }

    .about_container {

        column-gap: 5rem;
    }

    .about-img {
        width: 30rem;
    }

    .about_description {
        text-align: initial;
    }

    .about_info {
        justify-content: space-between;
    }

    .about_buttons {
        justify-content: initial;
    }

    .projects_img {
        width: 40rem;
    }

    .projects_content {
        align-items: center;
    }

    .projects_img {
        width: 40rem;
    }

    .footer_container {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer_bg {
        padding: 3rem 0 3.5rem;
    }

    .footer_links {
        flex-direction: row;
        column-gap: 2rem;
    }
}